[Unit]
Description=carbon.cc nginx
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
Restart=always
ExecStart=/opt/ccc/bin/ccc-nginx-start
ExecStop=/opt/ccc/bin/ccc-nginx-stop

[Install]
WantedBy=multi-user.target
